@import "abstracts/variables";
@import "components/marquee";


@font-face {
  font-family: "Schnyder M Light";
  src: url("../assets/fonts/Canela-RegularItalic.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ff-sec-medium";
  src: url("../assets/fonts/Moderat-Extended-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "ff-sec-regular";
  src: url("../assets/fonts/Moderat-Extended-Regular.ttf") format("truetype");
  font-display: swap;
}

//Variables

$offset: 25%;
$move-initial: calc(-25% + #{$offset});
$move-final: calc(-50% + #{$offset});

:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(43, 86%, 17%); */
  //--clr-primary-1: hsl(213, 92%, 10%);
  //--clr-primary-2: hsl(213, 92%, 12%);
  //--clr-primary-3: hsl(213, 96%, 14%);
  ////--clr-primary-4: hsl(213, 97%, 20%);
  ////--clr-primary-4: hsl(213, 95%, 22%);
  ////--clr-primary-4: #193d67;
  //--clr-primary-4: #0c233d;
  ////--clr-primary-4: #003864;
  ////--clr-primary-5: #012754;
  //--clr-primary-5: #0152a1;
  ///* lighter shades of primary color */
  //--clr-primary-6: hsl(213, 94%, 20%);
  //--clr-primary-7: hsl(213, 94%, 25%);
  //--clr-primary-8: hsl(213, 93%, 30%);
  //--clr-primary-9: hsl(213, 93%, 35%);
  //--clr-primary-10: hsl(213, 93%, 40%);
  //--clr-primary-16: hsla(213, 93%, 40%, .2);
  //--clr-primary-15: hsla(213, 93%, 40%, .4);
  /* darkest grey - used for headings */
  //--clr-grey-1: hsl(0, 0%, 15%);
  //--clr-grey-3: hsl(0, 0%, 35%);
  //--clr-grey-4: hsl(0, 0%, 45%);
  //--clr-grey-5: #7f7f7f;
  /* grey used for paragraphs */
  //--clr-grey-6: hsl(0, 0%, 55%);
  //--clr-grey-8: hsl(0, 0%, 65%);
  //--clr-grey-10: hsl(0, 0%, 85%);
  //--clr-green-dark: hsl(125, 67%, 35%);
  //--clr-red-dark: hsl(360, 67%, 44%);
  //--clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #e5e5e5;
  --clr-grey: #8e8e8e;
  --clr-black: #0c0c0c;
  --clr-secondary: #ceff00;

  //--clr-white: #c8c8c8;;
  //--clr-white: #f2f2f2;
  //--clr-black: #191919;
  //--clr-black: #131313;
  //--clr-secondary: #04fc04;
  //--clr-secondary: #3cf448;
  --ff-primary: "Schnyder M Light", serif;
  --ff-secondary: "ff-sec-regular", sans-serif;
  --ff-secondary-medium: "ff-sec-medium", sans-serif;
  --transition: all 0.23s linear;
  //--spacing: 0.05rem;
  --spacing: normal;
  --spacing-menu-links: 0.1rem;
  --spacing-htags: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

* {
  margin: 0;
}

::-moz-selection {
  //background: var(--clr-black);
  background: var(--clr-secondary);
  color: var(--clr-black);
}

::selection {
  //background: var(--clr-black);
  background: var(--clr-secondary);
  color: var(--clr-black);
}

body {
  background-color: var(--clr-black);
  //background-color: rgba(0, 0, 0, .98);
  //background-image: url("../assets/mesh-gradient(1).png");
  //background-position: top left;
  //background-repeat: no-repeat;
  //background-size: cover;

  //background-color: var(--clr-white);
  //color: var(--clr-grey-4);
  color: var(--clr-white);
  line-height: 1.4;
  //font-size: 0.875rem;
  //font-size: 1.125rem;
  font-size: 18px;
  //margin-top: 5rem;
  overflow-x: hidden !important;
  counter-reset: services;
}

body::before {
  background-image: url(../assets/grain.png);
  background-size: 180px 180px;
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -50%;
  opacity: .2;
  position: fixed;
  top: -100%;
  width: 300%;
  animation: grain 6s steps(10) infinite;
  z-index: -1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  font-family: var(--ff-secondary);
}


h1,
h2,
h3,
h4,
h5 {
  //letter-spacing: var(--spacing-htags);
  letter-spacing: normal;
  //line-height: 1.25;
  line-height: 1.2;
  //margin-bottom: 0.75rem;
  font-family: var(--ff-secondary-medium);
  font-weight: normal !important;
  word-wrap: break-word;
  hyphens: auto;
  //padding-bottom: 1rem;
  //color: var(--clr-primary-6);
  //mix-blend-mode: difference;

  span {
    color: inherit;
  }
}

span {
  letter-spacing: normal;
  line-height: 1.2;
  font-family: var(--ff-secondary);
  word-wrap: break-word;
}

h1 {
  font-size: calc(22px + (35 - 22) * ((100vw - 320px) / (1900 - 320)));
}

h2 {
  font-size: calc(22px + (35 - 22) * ((100vw - 320px) / (1900 - 320)));
}

h3 {
  font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1900 - 320)));
}

h4 {
  font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1900 - 320)));
  //font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1900 - 320)));
}

h5 {
  font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (1900 - 320)));
}

p {
  //margin-bottom: 1.25rem;
  //line-height: 2.2;
  color: var(--clr-white);
  //color: var(--clr-grey-4);
  //color: var(--clr-primary-4);
  //font-family: var(--ff-secondary-Lig);
  font-family: var(--ff-secondary);
  letter-spacing: var(--spacing);
  //mix-blend-mode: difference;
  span {
    color: inherit;
  }
}

ul > li {
  font-family: var(--ff-secondary);
  //mix-blend-mode: difference;
}

em {
  color: var(--clr-secondary);
  font-family: var(--ff-primary);
  font-style: normal;
  //color: transparent;
  //-webkit-text-stroke-width: 1px;
  //-webkit-text-stroke-color: var(--clr-secondary);
}

em.em-bt {
  font-family: var(--ff-secondary);
  letter-spacing: var(--spacing-menu-links);
}

h1.page-title em, h2.page-title em {
  color: #698fbb;
}

.big-section-title {
  position: absolute;
  top: -5.5rem;
  font-family: var(--ff-secondary);
  font-size: calc(25px + (260 - 25) * ((100vw - 320px) / (1900 - 320)));
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--clr-secondary);
  font-style: italic;
}

//.tag-title{
//  font-family: var(--ff-secondary-medium);
//  font-weight: bold;
//  font-size: calc(25px + (220 - 25) * ((100vw - 320px) / (1900 - 320)));
//  text-transform: uppercase;
//  &.w-100 {
//    max-width: 100% !important;
//  }
//}

.subsec-title {
  font-family: var(--ff-secondary-medium);
  //font-size: calc(25px + (120 - 25) * ((100vw - 320px) / (1900 - 320)));
  font-size: calc(25px + (100 - 25) * ((100vw - 320px) / (1900 - 320)));
  text-transform: uppercase;
  //max-width: 60%;
  //filter: drop-shadow(0 0 .45rem var(--clr-white));
  //color: transparent;
  //-webkit-text-stroke-width: 2px;
  //-webkit-text-stroke-color: var(--clr-secondary);
  &.w-100 {
    max-width: 100% !important;
  }
}

h2.section-title {
  padding-bottom: .5rem;
  font-size: calc(25px + (60 - 25) * ((100vw - 320px) / (1900 - 320)));

  span:nth-of-type(1) {
    text-transform: lowercase;
  }

  span:nth-of-type(2) {
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
    //font-style: italic;
    //font-weight: bold;
  }
}


.heading {
  font-size: calc(25px + (160 - 25) * ((100vw - 320px) / (1900 - 320)));
  text-transform: uppercase;
  //font-family: var(--ff-primary);

  -webkit-text-stroke: 2px var(--clr-secondary);
  color: transparent;
  filter: drop-shadow(0 0 .45rem var(--clr-secondary));
}

/*
===============
Container Fluid & Breake Out
===============
*/
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  @include for-tablet-portrait-up {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @include for-big-desktop-up {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @include for-phone-only {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

.break-out {
  width: 100vw;
  left: calc(-1 * (100vw - 100%) / 2);
  position: relative;
  //background-color: red;
;
  //height: 100px;
}

/*
===============
Navbar
===============
*/
nav {
  .container-fluid {
    @include for-phone-only {
      padding: 0 !important;
    }
  }
}

.navbar {
  @include for-desktop-up {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  align-items: center;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  z-index: 200;

  //@include for-phone-only {
  //  left: 5%;
  //  right: 5%;
  //  img{
  //    width: 80%;
  //    height: auto;
  //  }
  //}
  //@include for-tablet-landscape-up {
  //  display: inline-block;
  //  top: 2.5rem;
  //}
  .navbar-right {
    display: flex;
    align-items: center;

    //.btn-wrapper {
    //margin-right: 2rem;
    //}
  }
}

.navbar-logo {
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1900 - 320)));
}

.nav-center {
  @include for-tablet-landscape-up {
    margin: 0 auto;
  }
}

//.nav-header {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}

//.nav-header img {
//  margin-bottom: 0.375rem;
//  z-index: 1100;
//}

.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
  outline: 0;
  z-index: 1001;
  @include for-desktop-up {
    //display: none;
  }
}

.toggle-btn:hover {
  color: var(--clr-primary-2);
}

.nav-links {
  display: none;
  @include for-desktop-up {
    display: flex;
    justify-content: flex-end;
  }

  & li {
    font-family: var(--ff-secondary);
    font-weight: bold;
    @include for-desktop-up {
      margin-left: 3rem;
    }
  }

  & a {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 900 !important;
    @include for-desktop-up {
      text-transform: uppercase;
      color: var(--clr-white);
      font-weight: normal;
      transition: var(--transition);
      padding: 0.5rem 0;
    }

    &:hover {
      color: #ffffff !important;
    }
  }
}

/*
===============
Pages
===============
*/
.blog-template,
.projects-page,
.blog-page,
.article-page,
.error-page,
.team-page,
.about-page,
.policy-page,
.team-member-page,
.services-page {
  //background: #fff;
}

.error-page {
  //display: grid;
  //place-items: center;
  //background: var(--clr-primary-10);
  //text-align: center;

  display: grid;
  place-items: center;
  text-align: center;
  //background: var(--clr-primary-1);
  //background-image: radial-gradient(#012754, #011f43);
  background-color: var(--clr-primary-4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.error-page {
  color: var(--clr-white) !important;
  margin-bottom: 2rem;

  & > div {
    text-align: center;
    max-width: 30%;
    @include for-tablet-landscape-up {
      max-width: 50%;
    }
  }

  h2 {
    text-transform: uppercase;
  }

  p, a {
    text-transform: uppercase;
    //font-weight: bold;
    font-size: 12px;
  }

  h5 {
    padding: 0 0 2.5rem 0;

  }
}

//.page-content-wrapper {
//  padding-top: 10rem;
//  padding-bottom: 5rem;
//}

.page-content {
  padding: 10rem 0 5rem 0;
  //display: flex;
  //flex-flow: row nowrap;
  //justify-content: flex-start;
  //align-items: flex-start;
}

.pc-first-element {
  flex-basis: 0;
  flex-grow: 1;
  //border: 1px solid white;
}

.pc-second-element {
  flex-basis: 0;
  flex-grow: 5;
  //border: 1px solid white;

}

.pc-description {

}

.subsec-header {
  display: flex;
  justify-content: space-between;

  h5 {
    font-family: var(--ff-primary);
    font-style: italic;
    font-size: calc(25px + (55 - 25) * ((100vw - 320px) / (1900 - 320)));
  }
}

.subsec-body {
  margin-top: 5rem;
  display: flex;

  .ss-body-first {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
  }

  .ss-body-second {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    //border: 1px solid white;
    p {
      font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1900 - 320)));
      //text-align: justify;
      font-family: var(--ff-secondary-medium);
      text-indent: 300px;
      line-height: 1.2;
    }

    span.subsec-span {
      position: absolute;
      top: .8rem;
      left: 0;
      font-size: 18px;
      text-transform: uppercase;
      font-family: var(--ff-secondary-medium);
    }
  }

}

.pc-scroll {
  text-align: center;
  padding: 2.5rem 0;
}

.pc-description, .pc-scroll {
  font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
  //text-transform: uppercase;

  line-height: 1.5;
  font-family: var(--ff-secondary);
}

.page-name {
  font-size: calc(25px + (120 - 25) * ((100vw - 320px) / (1900 - 320)));
  text-transform: uppercase;

  //color: transparent;
  //-webkit-text-stroke-width: 2px;
  //-webkit-text-stroke-color: var(--clr-secondary);
  //color: var(--clr-secondary);
  font-family: var(--ff-secondary);

  -webkit-text-stroke: 2px var(--clr-secondary);
  color: transparent;
  filter: drop-shadow(0 0 .85rem var(--clr-secondary));


  //color: var(--clr-secondary);
  writing-mode: vertical-lr !important;
  text-orientation: mixed;
  line-height: 1;
  padding: 0 !important;
  margin: 0 !important;
}

/*
===============
Service Slide
===============
*/

.services-page-slider {
  display: flex;
  margin-left: 15%;
  position: relative;
  @include for-phone-only {
    margin-left: 10%;
  }

  .ss-drag {
    margin: 0 5rem 0 0;
    padding: 1.5rem;
    line-height: 4.0rem;
    align-self: center;
    border: 1px solid var(--clr-secondary);
    border-radius: 50%;
  }
}

.square-slider {
  padding: 5rem 0;
}

.service-slide {
  border: 1px solid var(--clr-secondary);
  padding: 2.0rem;
  display: flex;
  flex-direction: column;
  height: 450px;
  //width: 450px;

  .ss-bottom {
    justify-self: flex-end;
    margin-top: auto
    //flex-grow: 1;
  }

  h2 {
    font-size: calc(25px + (55 - 25) * ((100vw - 320px) / (1900 - 320)));
    text-transform: uppercase;
    word-spacing: 400px;
    line-height: 1.1 !important;
  }

  h5 {
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
  }

  p {

  }

  &:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-black);
  }
}


/*
===============
Page Index
===============
*/


/*
===============
Page single project
===============
*/
.single-project-page {
  .orbit {
    position: absolute;
    right: 20%;
    top: 15%;
  }

  .subsec-header {
    margin-top: 10rem;
  }

  .subsec-title {
    //text-transform: uppercase;
    max-width: 100%;
  }

  .subsec-body {
    //display: flex;
    justify-content: space-between;

    div:nth-of-type(1) {
      flex-basis: 0;
      flex-grow: 2;
    }

    div:nth-of-type(2) {
      flex-basis: 0;
      flex-grow: 4;

      p {
        color: #8e8e8e;
      }
    }

    div:nth-of-type(3) {
      display: flex;
      flex-basis: 0;
      flex-grow: 2;
      justify-content: flex-end;

      span {
        font-family: var(--ff-primary);
        font-style: italic;
        //line-height: 1.8;
        font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
      }
    }
  }

  .single-project-body {
    .subsec-header {
      margin-bottom: 5rem;
      //display: flex;
      //justify-content: revert;
      h5 {
        font-family: var(--ff-primary);
        font-style: italic;
        font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
        flex-basis: 0;
        flex-grow: 1;
      }

      .subsec-title {
        font-size: calc(25px + (80 - 25) * ((100vw - 320px) / (1900 - 320)));
        text-transform: capitalize;
        flex-basis: 0;
        flex-grow: 3;
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  //.subsec-desc{
  //  color: #8e8e8e;
  //  flex-basis: 0;
  //  flex-grow: 1;
  //  max-width: 40%;
  //}
}

.section-more-projects {
  //margin: 0 0 0 10rem;
  .more-projects-single {
    .more-left {
      display: flex;

      span {
        font-family: var(--ff-primary);
        font-style: italic;
        //line-height: 1.8;
        font-size: calc(25px + (18 - 25) * ((100vw - 320px) / (1900 - 320)));
        margin-right: 5rem;
      }

      h5 {
        align-self: center;
        font-size: 18px;
        text-transform: uppercase;
      }
    }

    .more-right {
      //align-self: flex-end;
      p {
        text-transform: capitalize;
      }
    }

    display: flex;
    //justify-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, .6);
    padding: 2rem 0;

    &:last-of-type {
      border-bottom: 1px solid rgba(255, 255, 255, .6);
    }
  }

  .learn-more {
    margin-top: 5rem;
    display: flex;

    a {
      margin-left: auto;
      display: flex;
      color: #8e8e8e;

      span {
        //line-height: 0;
      }

      span:nth-of-type(2) {
        border-top: 1px solid #8e8e8e;
        width: 100px;
        //flex-grow: 1;
        margin: 0 1.25rem;
        align-self: center;
      }
    }
  }
}

/*
===============
Services Page
===============
*/

.services-page, .blog-page, .contact-page {
  //border: 2px solid white;
  //&.container-fluid {
  //  padding-left: 0 !important;
  //}
}

.scroll-down-pages {
  text-align: center;
  margin-top: 5rem;
}


/*
===============
Contact Page
===============
*/
.contact-page {

}

.section-contact-container {
  .contact-details {
    max-width: 80%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    //padding-top: 5rem;
    padding: 5rem 0;

    h4 {
      //color: rgba(255,255,255, .55);
      color: #8e8e8e;
      font-size: 22px;
      margin-bottom: 2rem;
    }

    ul {
      padding: 0;

      li {
        padding: .25rem 0;
        //color: #8e8e8e;
        font-size: 18px;
      }
    }

  }
}


/*
===============
COMPONENTS COMPONENTS COMPONENTS COMPONENTS COMPONENTS
===============
*/


/*
===============
MainScene
===============
*/

canvas {
  //position: absolute;
  //position: fixed; /* absolute */
  top: 0;
  left: 0;
  width: 100vw; /* 100% */
  height: 100vh; /* 100% */
  border: 1px solid red;
  z-index: -1;
}

/*
===============
Sidebar
===============
*/

.sidebar {
  //background: var(--clr-black);
  background-color: var(--clr-black);
  position: absolute;
  top: 15%;
  right: 11.5%;
  width: 20vw;
  //height: 40vh;
  //height: 100%;
  z-index: 300;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  //transition: var(--transition);
  //transform: translateY(-100%);
  border: 1px solid var(--clr-white);
  border-radius: 25px;
  transition: .3s ease-in-out;
}

.show-sidebar {
  opacity: 1;
  visibility: visible;
  //transform: translateY(0);
  overflow-y: hidden;
}

.sidebar-links {
  margin: 2rem 0;
  //text-align: center;
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1900 - 320)));
  text-transform: capitalize;
  padding: 0;

  li {
    padding: .25rem 0;
  }
}

//.social-links{
//  display: flex;
//  padding: 0 .5em .5em 0;
//}

//.sidebar {
//  background: var(--clr-black);
//  //background-image: url("../assets/mesh-gradient(1).png");
//  //background-position: center center;
//  //background-repeat: no-repeat;
//  //background-size: cover;
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100vh;
//  z-index: 300;
//  //display: grid;
//  //place-items: center;
//  //opacity: 0;
//  visibility: hidden;
//  transition: var(--transition);
//  transform: translateY(-100%);
//  .orbit{
//    position: absolute;
//    left: 20%;
//    top: 0;
//  }
//}
//.show-sidebar {
//  //opacity: 1;
//  visibility: visible;
//  transform: translateY(0);
//  overflow-y: hidden;
//}
//
//.sidebar-bottom {
//  //font-size: calc(45px + (45 - 25) * ((100vw - 320px) / (1900 - 320)));
//
//  text-transform: uppercase;
//  display: flex;
//  justify-content: space-between;
//  padding-top: 5rem;
//}
//
//.sidebar-address {
//  ul {
//    padding: 0;
//  }
//}
//
//.sidebar-socials {
//  text-align: right;
//}
//
//.side-container {
//  margin-top: 15rem;
//  //padding-right: 2.75rem;
//}
//
//.sidebar-links {
//  padding: 0;
//}
//
//.sidebar-links li a {
//  display: block;
//  text-align: left;
//  //text-transform: uppercase;
//  //color: var(--clr-white);
//  letter-spacing: var(--spacing-menu-links);
//  font-size: calc(25px + (120 - 25) * ((100vw - 320px) / (1900 - 320)));
//  line-height: 1.1;
//  //margin: .25rem 0;
//  font-family: var(--ff-secondary);
//  transition: var(--transition);
//  border-radius: var(--radius);
//  color: transparent;
//  -webkit-text-stroke-width: 1px;
//  -webkit-text-stroke-color: var(--clr-white);
//}
//
//.sidebar-links li a:hover {
//  //background: var(--clr-primary-9);
//  color: var(--clr-white) !important;
//}


/*
===============
Footer
===============
*/
footer {
  padding: 5rem 0;

  .motto {
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
  }

  span {
    //font-size: calc(25px + (80 - 25) * ((100vw - 320px) / (1900 - 320)));
    line-height: 1.125;
    //text-transform: uppercase;
  }
}

.footer-top {
  position: relative;
  display: flex;
  justify-content: space-between;

  .footer-top-right {
    h5 {
      font-family: var(--ff-primary);
      font-style: italic;
      font-size: calc(25px + (55 - 25) * ((100vw - 320px) / (1900 - 320)));
    }
  }

  h5 {
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
  }

  .orbit {
    position: absolute;
    right: 20%;
    top: -20%;
  }
}

.footer-bottom {
  h4 {
    //color: rgba(255,255,255, .55);
    //color: #8e8e8e;
    //font-size: 22px;
    margin-bottom: 2rem;
    font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1900 - 320)));
  }

  ul {
    padding: 0;

    li {
      padding: .25rem 0;
      color: #8e8e8e;
      font-size: 18px;
    }
  }

  display: flex;
  justify-content: space-between;
  padding-top: 5rem;

  .footer-arrow {
    a {
      display: flex;
      justify-content: space-between;

      &:hover {
        opacity: 0.8;

        img {
          transform: translate(15%, -15%);
        }
      }
    }

    img {
      margin-left: 1rem;
    }
  }

  .show-on-map {
    text-transform: uppercase;
    //line-height: 1;
    color: var(--clr-white);
  }
}

/*
===============
SECTIONS ________________________ SECTIONS
===============
*/
.section-main-squares-2 {
  height: 80vh;
  background-color: var(--clr-white);
}

.section-main-squares {
  height: 100vh;
  background-color: var(--clr-secondary);
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  //grid-template-rows: repeat(6, 200px);
  //grid-gap: 1rem;
  //grid-auto-flow: dense;

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    //grid-gap: 10px;
    padding: 10px;
  }

  .grid-container > div {
    height: 50vh;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 1px solid var(--clr-secondary);
  }
}

.section-about-container, .section-contact-container {
  .main-container {
    height: 80vh;
  }
}

.section-main-container {
  .main-container {
    height: 100vh;
  }
}

.section-about-container, .section-contact-container, .section-main-container {
  position: relative;

  .orbit {
    position: absolute;
    top: 42.5%;
    left: 0;
  }

  //.scroll-down {
  //  position: absolute;
  //  bottom: 0;
  //  left: 0;
  //
  //  img {
  //    padding-right: 1rem;
  //  }
  //}

  .main-container {

    .tag-container{
      span {
        display: inline-block;
        line-height: 0;
      }

      span:nth-of-type(2) {
        //text-indent: 250px;
        text-indent: 150px;
      }
      span:nth-of-type(3) {
        text-indent: 25px;
      }

        display: flex;
        //justify-content: space-between;
        //border: 2px solid white;
        padding-top: 5rem;
    }

    h5 {
      //max-width: 20%;
      margin-right: 7.5rem;
      font-family: var(--ff-primary);
      font-style: italic;
      line-height: 1.8;
      font-size: calc(25px + (55 - 25) * ((100vw - 320px) / (1900 - 320)));
    }

    h2 {
      //max-width: 80%;
      //line-height: 1;
      line-height: 0;
      font-size: calc(25px + (160 - 25) * ((100vw - 320px) / (1900 - 320)));
      span {
        font-family: var(--ff-secondary-medium);
      }
    }

    .small-star {
      position: absolute;
      bottom: 20%;
      right: 10%;
    }
  }
}

.about-page-process {
  margin: 10rem 0;

  .about-process-single {

    .about-process-single-top > div{
      display: flex;
    }
    .about-process-single-top{
      display: flex;
      //justify-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(255, 255, 255, .6);
      padding: 1rem 0;
      span {
        margin-right: 5rem;
        font-size: 18px;
        font-family: var(--ff-primary);
        font-style: italic;
        align-self: flex-end;
      }
      img:hover{
        cursor: pointer;
      }
      p {
        align-self: center;
        font-size: 18px;
        text-transform: uppercase;
        &:hover{
          cursor: pointer;
        }
      }
    }

    .about-process-single-bottom{
      h5{
        max-width: 70%;
      }
      p{
        font-size: 18px;
        color: #8e8e8e;
        margin-top: 2.5rem;
        max-width: 85%;
      }
    }

    &:last-of-type {
      border-bottom: 1px solid rgba(255, 255, 255, .6);
    }
  }

}

.about-page-services {
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 5rem;
  //row-gap: 1em;
  .about-single {
    border-top: 1px solid rgba(255, 255, 255, .6);
    padding: 2.5rem 0 15rem 0;
    display: flex;

    .about-single-left {
      flex-basis: 0;
      flex-grow: 3;
    }

    .about-single-right {
      flex-basis: 0;
      flex-grow: 5;

      div {
        display: flex;
        justify-content: space-between;
      }

      span {
        font-family: var(--ff-primary);
        font-style: italic;
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1900 - 320)));
      }

      p {
        padding-top: 2.5rem;
        //font-size: 16px;
        color: #8e8e8e;
      }
    }
  }


  //div {
  //  border-top: 1px solid rgba(255, 255, 255, .6);
  //  padding: 2.5rem 0 15rem 0;
  //  display: flex;
  //}
  //
  //h3 {
  //  font-size: calc(25px + (36 - 25) * ((100vw - 320px) / (1900 - 320)));
  //  flex-basis: 0;
  //  flex-grow: 2;
  //}
  //
  //p {
  //  font-size: 16px;
  //  //color: #d2d2d2;
  //  color: #8e8e8e;
  //  flex-basis: 0;
  //  flex-grow: 3;
  //}
}

.works-page {
  .subsec-header {
    margin-top: 10rem;
  }
}

.services-page, .blog-page {
  .subsec-header {
    margin-top: 10rem;
    //border-bottom: 1px solid rgba(255, 255, 255, .6);
  }
}

.works-page-container {
  .single-work:last-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
  }

  .single-work {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, .6);
    padding: 2.5rem 0;
    justify-content: space-between;

    img {
      height: auto;
      width: 50%;
      transform: translateX(-35%);
      filter: brightness(80%);
    }

    .singe-work-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 100;
      width: 40%;
      //mix-blend-mode: difference;
      p {
        //text-transform: uppercase;
        font-size: 18px;
        //font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));

        &:nth-of-type(2) {
          font-family: var(--ff-primary);
          text-transform: none;
          font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1900 - 320)));
        }
      }

      h2 {
        text-transform: uppercase;
        font-size: calc(25px + (80 - 25) * ((100vw - 320px) / (1900 - 320)));
      }
    }

    .singe-work-right {
      align-self: flex-end;
    }
  }

  .learn-more {
    a {
      //border: 1px solid white;
      display: flex;

      span {
        //line-height: 0;
      }

      span:nth-of-type(2) {
        border-top: 1px solid rgba(255, 255, 255, 1);
        width: 100px;
        //flex-grow: 1;
        margin: 0 1.25rem;
        align-self: center;
      }
    }
  }
}

.section-main-container {
  position: relative;

  h2 {
    max-width: 100%;
  }
  .small-tag-container{
    align-self: flex-end;
    max-width: 30%;

    p {
      font-size: 18px;
      //text-transform: uppercase;
      text-indent: 200px;
      span:first-of-type {
        //text-indent: 250px;
        span{
          text-indent: 200px;
        }
      }
    }
  }

  //span {
  //  display: inline-block;
  //  line-height: 0;
  //}
  //
  //span:nth-of-type(2) {
  //  text-indent: 250px;
  //}

  .orbit {
    position: absolute;
    top: 20%;
    left: 22.5%;
  }

  .small-star {
    position: absolute;
    bottom: 5% !important;
    left: 5% !important;
  }

  .scroll-down {
    position: absolute;
    bottom: 0;
    left: 0;
    //img {
    //  padding-right: 1rem;
    //}
  }
}

.main-container {
  display: flex;
  //height: 100vh;
  flex-direction: column;
  //align-content: center;
  justify-content: center;
}

.service-stickers {
  width: 100%;
  height: auto;
}

.section-main-about {
  margin-top: 15rem;

  .subsec-body {
    margin-left: 5rem;
  }

  .orbit {
    position: absolute;
    top: -30%;
    right: -30%;
  }
}

.main-about-services {
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 5rem;
  //row-gap: 1em;

  div {
    border-top: 1px solid rgba(255, 255, 255, .6);
    padding: 2.5rem 0 15rem 0;
    display: flex;
  }

  h3 {
    font-size: calc(25px + (36 - 25) * ((100vw - 320px) / (1900 - 320)));
    flex-basis: 0;
    flex-grow: 2;
  }

  p {
    //font-size: 16px;
    //color: #d2d2d2;
    color: #8e8e8e;
    flex-basis: 0;
    flex-grow: 3;
  }
}

.section-main-works {
  //margin-top: 15rem;
  .main-works-container {
    margin-top: 10rem;
  }

  .single-work:last-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
  }

  .single-work {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-auto-rows: minmax(100px, auto);
    //column-gap: 5rem;
    border-top: 1px solid rgba(255, 255, 255, .6);
    padding: 5rem 0;

    div:nth-of-type(1) {
      display: flex;

      h5 {
        font-family: var(--ff-primary);
        font-style: italic;
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1900 - 320)));
      }

      h3 {
        font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1900 - 320)));
        margin-left: 7.5rem;
        max-width: 50%;
      }
    }

    div:nth-of-type(2) {
      p {
        //font-size: 16px;
        color: #8e8e8e;
        //flex-basis: 0;
        //flex-grow: 3;
        margin-bottom: 5rem;
      }
    }

  }
}


.section-marquee {
  margin: 15rem 0 15rem 0;

  .tapes-container {
    //position: absolute;
    //left: -2.5%;
    transform: translateX(-2.5%);
    font-size: calc(25px + (80 - 25) * ((100vw - 320px) / (1900 - 320)));
    text-transform: uppercase;
    line-height: 1.2;
  }

  .tapes-container > .first-tape {
    background: var(--clr-white);
    padding: 0 1rem;
    transform: rotate(7deg);
    transform-origin: center center;
    width: max-content;

    span {
      //mix-blend-mode: normal;
      color: var(--clr-black);
    }
  }

  .tapes-container > .second-tape {
    background: var(--clr-secondary);
    padding: 0 1rem;
    transform: rotate(-10deg);
    transform-origin: center center;
    width: max-content;

    span {
      //mix-blend-mode: normal;
      color: var(--clr-black);
    }
  }

  .tapes-container > .third-tape {
    background: var(--clr-black);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

    padding: 0 1rem;
    transform: rotate(15deg);
    transform-origin: center center;
    width: max-content;

    span {
      //mix-blend-mode: normal;
      color: var(--clr-white);

    }
  }

  .tapes-container > .third-tape {
    span {
      span:after {
        content: ' ';
        display: inline-block;
        text-align: right;
        background-image: url('../assets/icons/starSmall.svg');
        background-size: 60px 60px;
        height: 60px;
        width: 60px;
        margin-left: 1.0rem;
      }
    }
  }

  .tapes-container > .second-tape, .tapes-container > .first-tape {

    span {
      span:after {
        content: ' ';
        display: inline-block;
        text-align: right;
        background-image: url('../assets/icons/starSmallBlack.svg');
        background-size: 60px 60px;
        height: 60px;
        width: 60px;
        margin-left: 1.0rem;
      }
    }
  }


  //  content: ' ';
  //  display: inline-block;
  //  text-align: right;
  //  background-image: url('../assets/icons/right-arrow.svg');
  //  background-size: 28px 28px;
  //  height: 28px;
  //  width: 28px;
}

.section-worldwide {
  margin: 10rem 0 0 0;
  //padding: 15rem 0 5rem 0;
  display: flex;
  flex-direction: column;

  .worldwide-container {
    text-align: center;

    h2 {
      font-size: calc(25px + (100 - 25) * ((100vw - 320px) / (1900 - 320)));
      text-transform: uppercase;
      line-height: 1.2;
      z-index: 100;
    }

    h3 {
      font-family: var(--ff-primary);
      //color: var(--clr-secondary);
      font-size: calc(25px + (60 - 25) * ((100vw - 320px) / (1900 - 320)));
      font-style: italic;
    }

    .thumb-up{

    }

    .globe {
      padding-top: 7.5rem;
    }

    .star {
      position: absolute;
      margin: 0 auto;
      transform: translate(-50%, -40%);
      z-index: -100;
      filter: drop-shadow(0 0 .85rem var(--clr-white));
    }
  }
}

//.section-main-services{
//  padding: 5rem 0 15rem 0;
//  .pc-description{
//    max-width: 65%;
//    margin-top: 5rem;
//  }
//  .main-services-container{
//    display: flex;
//    justify-content: space-between;
//    padding-top: 5rem;
//    gap: 3.5rem;
//    img{
//      //opacity: 0.2;
//      filter: drop-shadow(0 0 .85rem var(--clr-white));
//    }
//    //h4{
//      //text-transform: uppercase;
//    //}
//    h4{
//      padding-bottom: 1rem;
//    }
//    h5{
//      //text-transform: uppercase;
//      //font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1900 - 320)));
//      //font-size: 20px;
//      font-size: 18px;
//      line-height: 1.2;
//    }
//  }
//  ul {
//    padding: 0;
//    li:nth-child(1){
//      padding-bottom: 1.5rem;
//    }
//    li:nth-child(2){
//      border-bottom: 1px solid rgba(255,255,255,.7);
//      word-spacing: 200px;
//    }
//    .main-ss {
//      padding: 1rem 0;
//      border-bottom: 1px solid rgba(255,255,255,.7);
//     a{
//       display: flex;
//       justify-content: space-between;
//       align-items: flex-start;
//       opacity: 1;
//       -webkit-transition: opacity .3s;
//        img{
//          -webkit-transition: transform .3s;
//          transform: rotate(0deg);
//        }
//       &:hover{
//         opacity: 0.8;
//         img{
//           //transform: translate(15%, -15%);
//           transform: rotate(45deg);
//           transition: .3s;
//           transition-timing-function: ease-in-out;
//         }
//       }
//     }
//    }
//    flex-grow: 1;
//    flex-basis: 0;
//  }
//  .break:after{
//    content: ' '; display: block ;
//    white-space:pre;
//  }
//}

.section-main-process {
  margin: 20rem 0 0 0;
  //.subsec-body{
  //  margin-left: 5rem;
  //}
  .ss-body-first {
    //margin-left: 20rem;
    flex-basis: 0;
    flex-grow: 1;
  }

  .ss-body-second {
    flex-basis: 0;
    flex-grow: 2;

    p {
      max-width: 70%;
    }
  }

  .orbit {
    position: absolute;
    //top: 0;
    top: 0;

    right: 20%;
  }

  .single-process {
    margin-bottom: 10rem;

    p {
      font-size: 18px;
      color: #8e8e8e;
      margin-top: 2.5rem;
      //font-family: var(--ff-secondary-Lig);
    }

    h3 {
      font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1900 - 320)));
    }

    .learn-more {
      margin-top: 2.5rem;
      //display: flex;
      a {
        //margin-left: auto;
        display: flex;
        //color: #8e8e8e;

        span {
          //line-height: 0;
        }

        span:nth-of-type(2) {
          border-top: 1px solid #8e8e8e;
          width: 100px;
          //flex-grow: 1;
          margin: 0 1.25rem;
          align-self: center;
          transition: .3s ease-in-out;
        }
        &:hover{
          span:nth-of-type(2) {
            border-top: 1px solid #ffffff;
          }
        }
      }
    }
  }
}

.learn-more {
  a {
    font-size: 18px;
    text-transform: uppercase;
  }
}

.sw-right {
  display: flex;
  justify-content: space-between;
  //max-width: 25%;
  align-items: flex-start;
  margin-top: 2.5rem;

  p {
    margin-right: 5rem;
    font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1900 - 320)));
    line-height: 1.2;
  }

  img {
    -webkit-transition: transform .3s;
    transform: rotate(0deg);
  }

  &:hover {
    cursor: pointer;

    img {
      transform: rotate(45deg);
      transition: .3s;
      transition-timing-function: ease-in-out;
    }
  }
}

//.arrow:after{
//  content: ' ';
//  display: inline-block;
//  text-align: right;
//  background-image: url('../assets/icons/right-arrow.svg');
//  background-size: 28px 28px;
//  height: 28px;
//  width: 28px;
//}


/*
===============
LINKS HOVER EFFECT
===============
*/
.blurry-circle, .bg-circles-main, .bg-circles-section {
  position: absolute;
}

.bg-circles-main {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.blurry-circle {
  border-radius: 100%;

  -webkit-animation: floating 4s infinite alternate;
  animation: floating 4s infinite alternate;
  animation-duration: 4s;
  animation-delay: 0s;
}

.bc-1 {
  filter: blur(50px);
  background-image: linear-gradient(225deg, #ceff00, #90b300);
  top: 100px;
  right: -140px;
  width: 375px;
  height: 375px;
}

.bc-2 {
  filter: blur(50px);
  background-image: radial-gradient(99% 100%, #ceff00 0, #90b300 100%);
  top: 450px;
  right: 30%;
  width: 520px;
  height: 520px;

  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}


.bc-3 {
  left: -187px;
  top: 80px;
  width: 280px;
  height: 280px;
  filter: blur(50px);
  background-image: linear-gradient(225deg, #ceff00, #90b300);

  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.bc-4 {
  left: 1500px;
  top: -80px;
  width: 280px;
  height: 280px;
  filter: blur(50px);
  background-image: linear-gradient(225deg, #ceff00, #90b300);

  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}


@-webkit-keyframes floating {
  0% {
    transform: translateY(0)
  }
  to {
    transform: translateY(30%)
  }
}

@keyframes floating {
  0% {
    transform: translateY(0)
  }
  to {
    transform: translateY(30%)
  }
}


/*
===============
LINKS HOVER EFFECT
===============
*/
.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--clr-secondary);
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
  /* show by default */
}

.link--kale::after {
  content: '';
  transition: opacity 0.3s;
  opacity: 0;
  transition-delay: 0s;
}

.link--kale:hover::after {
  opacity: 1;
  transition-delay: 0.3s;
}

.link--kale::before {
  height: 5px;
  top: 100%;
  opacity: 0;
}

.link--kale:hover::before {
  opacity: 1;
  animation: lineUp 0.3s ease forwards;
}

@keyframes lineUp {
  0% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 0.045, 1);
  }

  50% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 1, 1);
  }

  51% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 0.045, 1);
  }
}


@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

/*
===============
Outline  Button
===============
*/


.button {
  cursor: pointer;
  outline: none;

  &.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: var(--clr-white);
    font-size: 18px;
    border-color: var(--clr-white);
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 10px 40px;
    //text-transform: uppercase;
    transition: all 0.2s linear;

    a {
      text-decoration: none;
    }
  }

  &.outline:hover {
    color: var(--clr-black);
    background: var(--clr-white);
    border-color: white;
    transition: all 0.2s linear;
  }

  &.outline:active {
    border-radius: 22px;
  }

  &.footer-button {
    font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1900 - 320)));
    //font-size: 25px;
    border-radius: 50px;
    padding: 25px 75px;
    //border-color: var(--clr-secondary);
    border-color: var(--clr-white);

    //box-shadow: 0 0 3px #fff !important;
  }

  &.footer-button:hover {
    color: var(--clr-black);
    background: var(--clr-secondary);
    border-color: var(--clr-secondary);
    transition: all 0.2s linear;
    box-shadow: 0 0 5px var(--clr-secondary),
    0 0 25px var(--clr-secondary),
    0 0 50px var(--clr-secondary),
    0 0 200px var(--clr-secondary);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

}


/*
===============
Nav  Icon
===============
*/

.nav-icon {
  z-index: 10000 !important;
  //margin: 1em;
  margin-left: 1em;
  width: 40px;

  &:after,
  &:before,
  div {
    background-color: #fff;
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin: 10px 0;
    transition: all 0.2s ease-in-out;
  }
}

.nav-icon.transformed {
  &:before {
    transform: translateY(12px) rotate(135deg);
  }

  &:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  & div {
    transform: scale(0);
  }
}


.brand {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 20%;
  max-width: 60px;
  margin-top: 15rem;
  margin-right: 4rem;
  left: 70%;
  top: 45%;

  img {
    display: block;
    //border-radius: 50%;
    //width: 100%;
  }

  .brand-label {
    transition: all 0.2s ease-in-out;

    svg {
      position: absolute;
      left: -90%;
      top: -90%;
      height: 280%;
      width: 280%;
      pointer-events: none;
      animation-name: rotate;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: paused;

      text {
        font-family: var(--ff-secondary);
        font-size: 22px;
        //letter-spacing: 1.375px;
        //font-variation-settings: "wght" 650;
        fill: var(--clr-secondary);
        text-transform: uppercase;
      }
    }
  }

  &:hover {
    .brand-label svg {
      animation-play-state: running;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
